<div *ngIf="game" class="jumbotron game view banner {{mapClass()}}">
    <div class="container">
        <div class="pull-left">
            <h1>{{game.player}} on {{game.map}}</h1>
            <p>{{game.mapType}}</p>
            <p>{{displayGameTime()}} minutes</p>
        </div>
        <div class="pull-right">
            <h1 class="text-right"><span class="{{wltClass()}}">{{game.result ? game.result : 'UNKN'}}</span></h1>
            <p class="text-right">Score: {{game.blueScore}}/{{game.redScore}}</p>
            <p>SR: {{displaySR(game.startSR)}} → {{displaySR(game.endSR)}}<img src="assets/images/icons/{{rank(game.endSR)}}.png" height="35" style="vertical-align: bottom">({{displaySRChange()}})</p>
        </div>
    </div>
</div>

<div *ngIf="game" class="container game view">
    <div class="row">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li><b>Stages:</b></li>
                    <li class="{{f ? 'active' : ''}}"*ngFor="let stage of game.stages; let f = first;"><a href="#{{ stageHref(stage) }}" data-toggle="tab">{{ stage.name }}</a></li>
                    <li class="divider"> <!-- TODO: make this work --> </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <timeline *ngFor="let stage of game.stages; let f = first;" class="tab-pane {{f ? 'active' : ''}}" id="{{ stageHref(stage) }}"
                        [stage]="stage">
                    </timeline>
                    <div style="clear:both;"></div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                    <div class="panel panel-default">
                        <div (click)="toggleTimelineKey()" id="timeline-key-header" class="panel-heading pull-right" style="cursor:pointer;text-align:right;"><h5>Key ▼</h5></div>
                        <div [class.hidden]="hideTimelineKey" class="panel-body">
                            <div class="col-md-3" style="padding-left: 10px; padding-right: 0px;">
                                <h4>Player <br/><small>Kills</small></h4>
                                <svg class="timeline-key"><text class="timeline-event kill" x="10" y="10">●</text></svg>Final Blow 
                                <br/>
                                <svg class="timeline-key"><image class="timeline-event death" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/timeline/skull.png" x="3" y="2" width="15" height="15"></image></svg>Death
                                <br/>
                                <svg class="timeline-key"><image class="timeline-event resurrect" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/timeline/res.png" x="3" y="2" width="15" height="15"></image></svg>Resurrected
                            </div>
                            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
                                <h4>Non-hero<br/><small>e.g. Turret, D.Va Mech</small></h4>
                                <svg class="timeline-key"><text class="timeline-event destruction" x="7" y="15">*</text></svg>Destroyed a non-hero<br/>
                                <svg class="timeline-key"><image class="timeline-event destroyed" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/timeline/explosion.png" x="0" y="2" width="15" height="15"></image></svg>Non-hero destroyed
                            </div>
                            <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                <h4>Assists <br/><small>Contribution to a kill</small></h4>
                                <svg class="timeline-key"><text class="timeline-event ability-assist" x="10" y="10">●</text></svg> General<small> - Assist shown in killfeed</small>
                                <br/>
                                <svg class="timeline-key"><text class="timeline-event assist" x="10" y="10">●</text></svg> Elimination<small> - Dealt damage toward kill</small>
                                <br/>
                                <svg class="timeline-key"><text class="timeline-event support-assist" x="10" y="10">●</text></svg> Support<small> e.g. discord, caduceus staff </small>
                            </div>
                            <div class="col-md-12">
                                <h4>Heroes</h4>
                                <svg width=100 height=40 style="vertical-align:middle;">
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/heroes/sombra.png" height=40 x=0 class="hero-image" y="0"></image>
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/heroes/pharah.png" height=40 x=25 class="hero-image" y="0"></image>
                                <!--<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/heroes/reinhardt.png" height=40 x=50 class="hero-image" y="0"></image>-->
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/heroes/zenyatta.png" height=40 x=50 class="hero-image" y="0"></image>
                                </svg>
                                <span style="line-height: 40px;vertical-align:middle;display: inline-block;">Switched to hero</span>
                                
                                <svg width=50 height=40 style="vertical-align:middle;">
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/heroes/unknown.png" height=40 x=10 class="hero-image" y="0"></image>
                                </svg>
                                <span style="line-height: 40px;vertical-align:middle;display: inline-block;">Hero not seen</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="game.tabStatistics">
         <div class="col-md-6">
            <h2>Statistics</h2>
            <tab-stats
                [heroStatistics]="game.heroStatistics">
            </tab-stats>
         </div>

         <div class="col-md-6">
            <h2>Graphs</h2>
            <tab-graphs
                [tabStatistics]="game.tabStatistics"
                [stages]="game.stages">
            </tab-graphs>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ng-container *ngIf="game.teams">
                <h2>Teams</h2>
                <div class="panel panel-default row">
                    <div class="col-md-6">
                        <table class="table team-table text-blue">
                            <tr>
                                <th></th>
                                <th class="text-blue">{{ game.teams.blueAvgSR }}</th>
                            </tr>
                            <tr *ngFor="let i of [0, 1, 2, 3, 4, 5]">
                                <td style="vertical-align: middle;"><b>{{ game.teams.blue[i].name }}</b></td>
                                <td>
                                    <img src="assets/images/icons/{{ game.teams.blue[i].rank }}.png" height="35" style="vertical-align: bottom">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table team-table text-red">
                            <tr>
                                <th></th>
                                <th>{{ game.teams.redAvgSR }}</th>
                            </tr>
                            <tr *ngFor="let i of [0, 1, 2, 3, 4, 5]">
                                <td style="vertical-align: middle;"><b>{{ game.teams.red[i].name }}</b></td>
                                <td>
                                    <img src="assets/images/icons/{{ game.teams.red[i].rank }}.png" height="35" style="vertical-align: bottom">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!---->
                </div>
            </ng-container>
        </div>
        <div class="col-md-6">
            <h2>Kill Feed</h2>
            <div class="panel panel-default">
                <div id="killfeed">
                    <table class="table table-striped text-center">
                        <tr *ngFor="let kill of game.killfeed">
                            <td class="num">{{time(kill)}}</td>
                            <td><img *ngIf="kill.leftHero" src="assets/images/heroes/{{kill.leftHero}}.png"/></td>
                            <td class="{{leftColor(kill)}} text-left"><b>{{kill.leftPlayer}}</b></td>
                            <td>&#x2620;</td> <!-- Skull And Crossbones -->
                            <td><img src="assets/images/heroes/{{kill.rightHero}}.png"/></td>
                            <td class="{{rightColor(kill)}} text-left"><b>{{kill.rightPlayer}}</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <metagame *ngIf="loginService.getUser()?.superuser" [id]="game.key"></metagame>
</div>