<div #timelineBody class="col-md-12 game-timeline">
    <div class="game-timeline-content">
        <div *ngIf="isKOTH()" class="col-xs-12">
            <div class="col-xs-2"></div>
            <div class="timeline col-xs-8">
                <div *ngFor="let owner of stage.objectiveInfo.ownership" class="push-left hero-timeline-point timeline-owner-{{ owner.team }}"
                        [style.width]="widthPercentage(owner) + '%'">
                </div>
            </div>
            <strong class="col-xs-2 push-left text-left num" style="font-size: 15px;">K / D</strong>
        </div>
        <div *ngIf="!isKOTH()" class="col-xs-12">
            <div class="col-xs-2"></div>
            <div class="timeline col-xs-8">
                <div style="width: 100%; position: relative;">
                    <div *ngFor="let checkpoint of stage.objectiveInfo.checkpoints" class="timeline-checkpoint timeline-owner-{{ checkpoint.team }}"
                            [style.left]="eventLeft(checkpoint) + '%'">
                            {{ checkpoint.checkpoint }}
                    </div>
                </div>
            </div>
            <strong class="col-xs-2 push-left text-left num" style="font-size: 15px;">K / D</strong>
        </div>
        <div class="timeline-players">

          
        </div>
        <div class="timeline-expand-key"><p>Key <span class="glyphicon glyphicon-menu-down"></span></p></div>
        <div class="timeline-collapse-key hidden row">
            <div class="col-xs-2">A</div>
            <div class="col-xs-2">A</div>
            <div class="col-xs-2">A</div>
            <div class="col-xs-2">A</div>
            <p class="col-xs-2">Key <span class="glyphicon glyphicon-menu-up"></span></p>
        </div>
    </div>
</div>