body {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

a.navbar-brand > img {
  display: inline-block;
  margin-top:-5px;
  height:30px;
}

.tab-stats-table > tbody > tr > td,
.tab-stats-table > tbody > tr > th,
.tab-stats-table > tfoot > tr > td,
.tab-stats-table > tfoot > tr > th,
.tab-stats-table > thead > tr > td,
.tab-stats-table > thead > tr > th {
  border: none !important;
  /*line-height: 21px !important;*/
}

.team-table > tbody > tr > td,
.team-table > tbody > tr > th,
.team-table > tfoot > tr > td,
.team-table > tfoot > tr > th,
.team-table > thead > tr > td,
.team-table > thead > tr > th {
  border: none !important;
}

/*.table {
margin: 0 auto;
text-align: left;
width: 768px;
}*/

.tab-stats-table {
font: 300 11px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.tab-stats-table th {	
font-size: 15px;
}

.tab-stats-table span.big {
color: #FFFFFF;
font-size: 16px;
font-weight: 600;
}

.tab-stats-table tr th, .tab-stats-table tr td {
color: #C8C8C8;
font-weight: 300;
line-height: 1.5;
  padding: 10px;
/*width: 33%;*/
}

.dashed-line{
  padding: 0px;
  margin: 5px 0 -2px;
position: relative;
  border-top: 1px dashed;
}

.hero-spec-stats-text{
  position: absolute;
  right: 0;
  font-size: 10px;
  top: -15px;
}

.hero-timeline {
  box-shadow: inset 0px 0px 0px 1px white;
  background-color: grey;
}

.hero-timeline-point {
  height: 10px;
  margin-bottom: 12px;
}

.timeline-pushing {
  position: absolute;
  /* background-color: #eee; */
  height: 10px;

  background-image: repeating-linear-gradient(45deg, transparent 0px, transparent 5px, #666 5px, #666 10px), repeating-linear-gradient(135deg, transparent 0px, transparent 5px, #666 5px, #666 10px);
  background-size: 100% 50%;
  background-position: top left, bottom left;
  background-repeat: no-repeat;
}

.timeline-owner-blue{
  background-color: #5bc0de;
}

.timeline-owner-red{
  background-color: #ee5f5b;
}

.timeline-owner-none{
  background-color: #eee;
}

.timeline-event {
  text-anchor: middle;
  dominant-baseline: middle;
}

.timeline-checkpoint {
  position: absolute;
  border-radius: 13px;
  width: 25px;
  height: 25px;
  color: black;
  text-align: center;
  margin-left: -13px;
  font-size: 19px;
}

.timeline-tick {
  position: absolute;
  left: 100%;
  color: white;
  font-size: 9pt;
  vertical-align: middle;
  line-height: 25px;
  padding-left: 10px;
}

.timeline-tick-1::before {
  content: "\25CF";
}

.timeline-tick-2::before {
  content: "\25CF\25CF";
}

.timeline-checkpoint-time.timeline-checkpoint-ptime {
  margin-left: 18px;
  text-align: left;
}

.timeline-checkpoint-time {
  position: absolute;
  width: 100px;
  height: 25px;
  color: white;
  text-align: right;
  font-size: 12pt;
  vertical-align: middle;
  line-height: 25px;
}

.timeline-final-progress {
  position: absolute;
  left: 100%;
  color: white;
  font-size: 12pt;
  vertical-align: middle;
  line-height: 25px;
  padding-left: 10px;
}

.timeline-event.death {
  font-size: 24px;
  font-weight: bold;
  fill: black;
  stroke: white;
  fill: #811212;
  stroke: red;
}

.timeline-event.resurrect {
  font-size: 24px;
  font-weight: bold;
  fill: lightblue;
}

.timeline-event.kill {
  font-size: 24px;
  font-weight: bold;
  fill: darkgray;
  stroke: white;
}

.timeline-event.assist {
  font-size: 18px;
  font-weight: bold;
  fill: lightblue;
}

.timeline-event.support-assist {
  font-size: 18px;
  font-weight: bold;
  fill: lightgreen;
}

.timeline-event.ability-assist {
  font-size: 18px;
  font-weight: bold;
  fill: lightgoldenrodyellow;
}

.timeline-event.destruction {
  font-size: 20px;
  fill: lightslategray;
  stroke: whitesmoke;
}

.text-unknown {
  color: #e305f8;
}

.text-blue {
  color: #5bc0de;
}

.text-red {
  color: #ee5f5b;
}

.text-error {
  color: lightcoral;
}

.text-green {
  color: #62c462;
}

.error-message p {
  line-height: 30px;
  font-size: 16px !important;
}

.error-message pre {
  background-color: rgba(0, 0, 0, 0);
  color: lightcoral;
}

.game-timeline .num {
  padding-left: 10px;
  padding-right: 0px;
  font-size: 13px;
}

.game-timeline .hero-image {
  width: 40px;
  height: 40px;
  opacity: 0.9;
}

.game-timeline span.kill {
  color: white;
}
.game-timeline span.death {
  color: red;
}

.timeline {
  height: 40px;
}

.timeline.col-xs-9 {
  padding: 0px;
}

.game-timeline b {
  line-height:40px;
}

.game-timeline.col-md-12 {
  overflow-x: auto;
  padding:0px;
}

.game-timeline .col-xs-12 {
  padding:0px;
}

.game-timeline-content {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 650px;
  white-space: nowrap;
}

.game.view .panel-body {
  padding: 0px;
}

.timeline-players .text-right {
  font-size: 12px;
}

.timeline-players .too-long {
  font-size: 11px;
}

.timeline-players b {
  padding: 0px;
  padding-right: 5px;
}

.timeline-players .col-md-12:nth-of-type(6){
  padding-bottom: 10px;
}

.push-left {
  float: left;
}

.panel.with-nav-tabs .panel-heading{
  padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
margin-bottom: -1px;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
/*color: #555;*/
background-color: #2e3338;
border-bottom-color: transparent;
}

.nav > li > b {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar-fixed-top {
  border: 0;
}

.navbar .divider-vertical {
  height: 7px;
  margin: 0 9px;
  border-top: 1px solid #697075;
}

#gametable {
  width: 100%;
}

#gametable th {
  text-align: center;
}

#gametable td {
  font-size:35px;
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
}

#gametable .gn {
  font-size:18px;
}

#gametable .sr {
  font-size:25px;
  line-height:30px;
  padding-top:5px;
  padding-bottom:0px;
}

#gametable .sr > img {
  height:45px;
}

#gametable .sr > span {
  line-height: 25px;
}

#gametable .time {
  padding-top:0px;
  padding-bottom:0px;
}

#gametable .time > .num {
  font-size:25px;
  line-height: 18px;
  padding-top: 8px;
}

#gametable .time > .unit{
  font-size: 18px;
}

.unit {
  font-size: 20px; 
}

.timeline-event.faded > * {
  opacity: 0.2;
}
.timeline-event.slight-faded > * {
  opacity: 0.6;
}
.timeline > .timeline-event.faded {
  opacity: 0.2;
}
.timeline > .timeline-event.slight-faded {
  opacity: 0.6;
}
.timeline-event > .nofade {
  opacity: 1 !important;
}
/* .timeline-event .assists {
  display: none;
}
.timeline-event.highlighted .assists {
  display: block;
  padding: 0px;
} */


.jumbotron h1 {
  color:orange;
  text-shadow: 1px 1px 2px black; 
}

.jumbotron.view h1 {
  font-size: 50px;
}

.jumbotron.view {
  color:white;
  text-shadow: 1px 1px 2px black;
}

#curr-sr {
  font-size:20px;
}

.jumbotron.view.game {
  padding-bottom: 10px;
}

/*
* Maps
*/

.jumbotron.view.map {
  background-size: cover;
  background-position: 0 0, center;
}

.jumbotron.view.banner {
  background-size: cover;
  background-position: 0 0, center;
}


#gametable .map {
  text-align: left;
  font-size:26px;
  text-shadow: 1px 1px 10px black;
  color:lightgray;
  padding-right:15px;
  
  background-size: cover;
  background-position: 0 0, center;
}

#gametable .hoverable {
  opacity: 0.8;
}
#gametable .hoverable:hover {
  cursor: pointer;
  opacity: 1;
}

.map.eichenwalde {
  background: url(eichenwalde.d734d26031e9ff7d7751.jpg);
}
.map.watchpoint-gibraltar {
  background: url(watchpoint-gibraltar.15840cb43ccadd9f0a59.jpg);
}
.map.numbani {
  background: url(numbani.8b0b1a4a22960bd0c014.jpg);
}
.map.oasis {
  background: url(oasis.e995b41df33e90421f29.jpg);
}
.map.route-66 {
  background: url(route-66.3e8eb1523f773a98d476.jpg);
}
.map.nepal {
  background: url(nepal.07bc7b65b7948d7c21f2.jpg);
}
.map.dorado {
  background: url(dorado.191a39c6d55315eabd55.jpg);
}
.map.hollywood {
  background: url(hollywood.26091449ca18068a40f2.jpg);
}
.map.kings-row {
  background: url(kings-row.8c9b2946d65a490f6918.jpg);
}
.map.lijiang-tower {
  background: url(lijiang-tower.60266c1a226f675133cf.jpg);
}
.map.volskaya-industries {
  background: url(volskaya-industries.005f912fbdd7e115dbb9.jpg);
}
.map.hanamura {
  background: url(hanamura.cb436eb0cf019e8ed796.jpg);
}
.map.horizon-lunar-colony {
  background: url(horizon-lunar-colony.dd7da5c4c614506ae478.jpg);
}
.map.ilios {
  background: url(ilios.2228bfdedccf90f8fbb3.jpg);
}
.map.temple-of-anubis {
  background: url(temple-of-anubis.adf27aa78b35a37d2499.jpg);
}

.banner.nepal {
  background: url(nepal-banner.abc932582e146e2fa5e3.jpg);
  background-position: center;
  background-size: cover;
}
.banner.eichenwalde {
  background: url(eichenwalde-banner.85156705de1f528fec46.jpg);
  background-position: center;
  background-size: cover;
}
.banner.lijiang-tower {
  background: url(lijiang-tower-banner.9f66208044fdb26b1198.jpg);
  background-position: center;
  background-size: cover;
}
.banner.oasis {
  background: url(oasis-banner.c3d89bc40ce605802d67.jpg);
  background-position: center;
  background-size: cover;
}
.banner.hanamura {
  background: url(hanamura-banner.a4278a4ec857c05e3890.jpg);
  background-position: center;
  background-size: cover;
}
.banner.hollywood {
  background: url(hollywood-banner.50b975bdda3b0baff6a8.jpg);
  background-position: center;
  background-size: cover;
}
.banner.ilios {
  background: url(ilios-banner.0e76abf62bb783c9c905.jpg);
  background-position: center;
  background-size: cover;
}
.banner.kings-row {
  background: url(kings-row-banner.f93df0b2e99dc23f9f06.jpg);
  background-position: center;
  background-size: cover;
}
.banner.dorado {
  background: url(dorado-banner.61f58a4100d0920472a3.jpg);
  background-position: center;
  background-size: cover;
}
.banner.numbani {
  background: url(numbani-banner.8ed4f3486d245fc7c47a.jpg);
  background-position: center;
  background-size: cover;
}
.banner.temple-of-anubis {
  background: url(temple-of-anubis-banner.f837fff189fafed1c5cb.jpg);
  background-position: center;
  background-size: cover;
}
.banner.watchpoint-gibraltar {
  background: url(watchpoint-gibraltar-banner.0e8f5ba5c7ba15d5aeec.jpg);
  background-position: center;
  background-size: cover;
}
.banner.route-66 {
  background: url(route-66-banner.0b8e56ab8635f2c6068b.jpg);
  background-position: center;
  background-size: cover;
}
.banner.volskaya-industries {
  background: url(volskaya-industries-banner.6720e07415e9d98dd07a.jpg);
  background-position: center;
  background-size: cover;
}
.banner.horizon-lunar-colony {
  background: url(horizon-lunar-colony-banner.d2982cd453ac7deb9c13.jpg);
}


/*
* Heroes
*/
#gametable .hero {
  padding-left:20px;
  text-align: left;
}

#gametable .hero > img {
  height: 50px;
}

div#meta-game div.panel-heading {
  cursor: pointer;
}

div#meta-game p {
  font-size: 10pt;
  margin: 0px;
}

div#meta-game p span {
  color: #a4cc82;
}

div#meta-game p.indent-1 {
  margin-left: 20px;
}

div#meta-game p.indent-2 {
  margin-left: 40px;
}

.tut-image {
  margin: 10px 0;
  padding: 4px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  max-width: 100%;
}

svg.timeline.col-xs-8 {
  padding: 0px;
} 

svg .timeline-event:hover {
  cursor: pointer;
}

.timeline-key {
  height:20px;
  width:20px;
  vertical-align: middle;
}

.email-entry {
  width: 300px;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #272b30;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #000000;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

svg {
  overflow: visible !important;
}
