<div id="tab-stats" class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overall" data-toggle="tab">Overall</a></li>
            <li *ngFor="let hero of heroes"><a href="#{{ toHref(hero) }}" data-toggle="tab" >{{ toTitleCase(hero) }}</a></li>
        </ul>
    </div>
    <div class="panel-body" style="height: 450px;">
        <div class="tab-content">
            <div class="tab-pane active" id="overall">
                <hero-stats
                    [tabStatistics]="tabStatistics">
                </hero-stats>
            </div>
            <div class="tab-pane" *ngFor="let hero of heroes" id="{{ toHref(hero) }}">
                <hero-stats
                    [tabStatistics]="tabStatistics"
                    [hero]="hero">
                </hero-stats>
            </div>
        </div>
    </div>
</div>
