<div id="tab-stats" class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li [class.active]="f" *ngFor="let hero of heroNames; let f = first;"><a href="#{{ toHref(hero) }}" data-toggle="tab" >{{ toHeroName(hero) }}</a></li>
        </ul>
    </div>
    <div class="panel-body" style="height: 540px;">
        <div class="tab-content">
            <div class="tab-pane" [class.active]="f" *ngFor="let hero of heroNames; let f = first;" id="{{ toHref(hero) }}">
                <hero-stats
                    [stat]="statsByHero.get(hero)"
                    [duration]="statsByHero.get('ALL').timePlayed">
                </hero-stats>
            </div>
        </div>
    </div>
</div>
