<div class="jumbotron overview view banner hanamura" style="padding-bottom: 10px;">
    <div class="container">                      
        <h1>Statistics</h1>
    </div>
</div>


<div class="container overview view">

    <div class="row col-md-12">
        <div id="gametable" class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="{{ gamesLists && gamesLists.length > 1 ? '' : 'hidden' }}" ><b>Accounts:</b></li>
                    <li class="{{ gamesLists && gamesLists.length > 1 ? '' : 'hidden' }} {{f ? 'active' : ''}}" 
						*ngFor="let games of gamesLists; let f = first;">
						<a (click)="renderWinrates(games.list)" href="#{{ playerHref(games) }}" data-toggle="tab">{{ games.player }}</a>
					</li>
                </ul>
            </div>
            <div class="tab-graph tab-pane active winrate-area" *ngIf="orderedHeronames">
				<div class="hero-row" *ngFor="let nextName of orderedHeronames;">
					<div class="hero-img">
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-{{nextName}}" role="progressbar"
							[style.width]="(heroWinratesForMap.get(nextName).timewon / heroWinratesForMap.get(nextName).timeplayed * 100)+'%'">
							<span class="hero-name">{{ nextName | uppercase }}</span>
							<span class="percentage">{{(heroWinratesForMap.get(nextName).timewon / heroWinratesForMap.get(nextName).timeplayed * 100).toFixed(2)+'%'}}</span>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
	
    <hr/>

</div>