<div class="jumbotron overview view banner hanamura" style="padding-bottom: 10px;">
    <div class="container">                      
        <h1>Statistics</h1>
    </div>
</div>


<div class="container overview view">

    <div class="row col-md-12">
        <div id="gametable" class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li [class.hidden]="!(gamesLists && gamesLists.length > 1)" ><b>Accounts:</b></li>
                    <li [class.hidden]="!(gamesLists && gamesLists.length > 1)"
						*ngFor="let games of gamesLists; let f = first;" [class.active]="f">
						<a (click)="calcWinrates(games.list)" href="#{{ playerHref(games) }}" data-toggle="tab">{{ games.player }}</a>
					</li>
                </ul>
            </div>
            <div class="tab-graph tab-pane active winrate-area" *ngIf="mapList">
				<div class="center">
					<button class="multi-choice" *ngFor="let singleMap of mapList;"
						(click)="switchMap(singleMap)"
						[class.active]="singleMap === activeMap">
						{{singleMap}}
					</button>
				</div>
				<div class="center" *ngIf="mapList2" style="margin-top: -1px;">
					<button class="multi-choice" *ngFor="let singleMap of mapList2;"
						(click)="switchMap(singleMap)"
						[class.active]="singleMap === activeMap">
						{{singleMap}}
					</button>
				</div>
				
				<h2 class="center">{{activeMap | uppercase}}</h2>
				<div class="center row" style="font-size: 16px; font-weight: bold;">
					<div class="col-md-3">
					</div>
					<div class="col-xs-4 col-md-2 text-success">
						WON<br>{{mapStats.get(activeMap).gamesWon}}
					</div>
					<div class="col-xs-4 col-md-2 text-warning">
						TIED<br>{{mapStats.get(activeMap).gamesTied}}
					</div>
					<div class="col-xs-4 col-md-2 text-danger">
						LOST<br>{{mapStats.get(activeMap).gamesLost}}
					</div>
					<div class="col-md-3">
					</div>
				</div>
				
				<div class="center" style="margin-top:15px;">
					<button class="btn btn-sm btn-primary" (click)="toggleAllHeroes()">
						{{showAllHeroes ? 'Hide Heroes with low playtime' : 'Show All Heroes'}}
					</button>
				</div>
			
				<div class="row">
					<div class="col-md-6">
						<div class="center no-margin-top">
							<h3>Winrate: {{ getWinrate() }}%</h3>
							<label class="checkbox-inline" style="position: absolute; right: 20px; top: 20px; line-height: 12pt;"><input type="checkbox" (click)="toggleNormalise()">Normalise<br> by playtime</label>
						</div>
						
						<div *ngFor="let nextName of sortedByWR(currentMapHeroes())"
							class="hero-row" [class.hidden]="hideHero(nextName)">
							<div class="hero-img">
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-{{nextName}}" role="progressbar" valuemin="0" valuemax="100"
									[style.width]="getHeroWinrate(nextName)+'%'">
									<span class="hero-name">{{ toHeroName(nextName) | uppercase }}</span>
									<span class="percentage">{{ getHeroWinrate(nextName).toFixed(2) }}%</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="center no-margin-top">
							<h3>Time Played: {{formatTime(mapStats.get(activeMap).timeplayed)}}</h3>
						</div>
						<div *ngFor="let nextName of sortedByPlaytime(currentMapHeroes())"
							class="hero-row" [class.hidden]="hideHero(nextName)">
							<div class="hero-img">
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-{{nextName}}" role="progressbar" valuemin="0" valuemax="100"
									[style.width]="getHeroPlayrate(nextName)+'%'">
									<span class="hero-name">{{ toHeroName(nextName) | uppercase }}</span>
									<span class="percentage">{{formatTime(mapStats.get(activeMap).heroWinrates.get(nextName).timeplayed)}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="center" style="padding-top: 50px;">
					<h3>Detailed Statistics</h3>
				</div>
				<ng-container *ngFor="let nextName of sortedByPlaytime(currentMapHeroes())">
					<div class="hero-card" *ngIf="mapStats.get(activeMap).heroWinrates.get(nextName).timeplayed > 10 * 60">
						<div class="playtime-bar"><span class="playtime-bar-filling progress-bar-{{nextName}}" 
							[style.width]="getHeroPlayrate(nextName)+'%'"></span>{{nextName}} {{getHeroPlayrate(nextName)}}</div>
						<div class="row">
							<div class="col-sm-6">
								<img src="assets/images/heroes/{{nextName}}.png">
								<div class="general-info">
									<span class="big" style="color: #fff;">{{toHeroName(nextName)}}</span>
									<br>{{mapStats.get(activeMap).heroWinrates.get(nextName).gamesPlayed}} 
									GAME{{mapStats.get(activeMap).heroWinrates.get(nextName).gamesPlayed > 1 ? 'S' : ''}}
									- {{formatTime(mapStats.get(activeMap).heroWinrates.get(nextName).timeplayed)}}
								</div>
							</div>
							<div class="col-sm-6" style="text-align: right;">
								<div class="info-right">
									<span class="big" [class.text-success]="getHeroWinrateByTime(nextName)>50"
									[class.text-danger]="getHeroWinrateByTime(nextName)<50">
										{{getHeroWinrateByTime(nextName).toFixed(2)}}%
									</span>
									<br>NORM WR
								</div>
								<div class="info-right">
									<span class="big" [class.text-success]="getHeroWinrateByGames(nextName)>50"
									[class.text-danger]="getHeroWinrateByGames(nextName)<50">
										{{getHeroWinrateByGames(nextName).toFixed(2)}}%
									</span>
									<br>WINRATE
								</div>
							</div>
						</div>
						<div class="row smaller">
							<div class="col-sm-3">
								<span class="big">{{getHeroKills(nextName)}}</span> /10min
								<br>KILLS
							</div>
							<div class="col-sm-3">
								<span class="big">{{getHeroDeaths(nextName)}}</span> /10min
								<br>DEATHS
							</div>
							<div class="col-sm-3">
								<span class="big">{{getHeroObjKills(nextName)}}</span> /10min
								<br>OBJECTIVE KILLS
							</div>
							<div class="col-sm-3">
								<span class="big">{{getHeroDamage(nextName)}}</span> /10min
								<br>DAMAGE
							</div>
						</div>
						<div class="row smaller">
							<div class="col-sm-3">
								<span class="big">{{getHeroAssists(nextName)}}</span> /10min
								<br>ASSISTS
							</div>
							<div class="col-sm-3">
								<span class="big">{{getHeroKDARatio(nextName)}}</span>
								<br>KDA-RATIO
							</div>
							<div class="col-sm-3">
								<span class="big">{{getHeroObjTime(nextName).toFixed(0)}}</span> %
								<br>OBJECTIVE TIME
							</div>
							<div class="col-sm-3">
								<span class="big">{{getHeroHealing(nextName)}}</span> /10min
								<br>HEALING
							</div>
						</div>
						<div class="dashed-line">
							<span class="hero-spec-stats-text">Hero Specific Stats</span>
						</div>
						<div class="row smaller">
							<div class="col-md-2 col-sm-4">
								<span class="big">{{getHeroSpecificStat(nextName, 1)}}</span> {{getHeroSpecificStatUnit(nextName, 1)}}
								<br>{{getHeroSpecificStatName(nextName, 1) | uppercase}}
							</div>
							<div class="col-md-2">
								<span class="big">{{getHeroSpecificStat(nextName, 2)}}</span> {{getHeroSpecificStatUnit(nextName, 2)}}
								<br>{{getHeroSpecificStatName(nextName, 2) | uppercase}}
							</div>
							<div class="col-md-2 col-sm-4">
								<span class="big">{{getHeroSpecificStat(nextName, 3)}}</span> {{getHeroSpecificStatUnit(nextName, 3)}}
								<br>{{getHeroSpecificStatName(nextName, 3) | uppercase}}
							</div>
							<div class="col-md-2 col-sm-4">
								<span class="big">{{getHeroSpecificStat(nextName, 4)}}</span> {{getHeroSpecificStatUnit(nextName, 4)}}
								<br>{{getHeroSpecificStatName(nextName, 4) | uppercase}}
							</div>
							<div class="col-md-2 col-sm-4">
								<span class="big">{{getHeroSpecificStat(nextName, 5)}}</span> {{getHeroSpecificStatUnit(nextName, 5)}}
								<br>{{getHeroSpecificStatName(nextName, 5) | uppercase}}
							</div>
							<div class="col-md-2 col-sm-4">
								<span class="big">{{getHeroSpecificStat(nextName, 6)}}</span> {{getHeroSpecificStatUnit(nextName, 6)}}
								<br>{{getHeroSpecificStatName(nextName, 6) | uppercase}}
							</div>
						</div>
					</div>
				</ng-container>

				<br><br>
				<h4>Reading Winrates</h4>
				<p>
					By default winrate only counts in games where the hero was played for more than 20% of the match.<br>
					When normalising by playtime, winrate is calculated as <i>time playing in games that were won</i> out of <i>total time played</i> for each hero.
					Because this already allows for low hero playtimes, all games are included even if the hero was played for less than 20% of the game.					
				</p>

			</div>
        </div>
    </div>
	
    <hr/>

</div>