<form *ngIf="!user" id="login-nav" class="navbar-form navbar-right">
    <a id="login" class="btn btn-success" href="{{loginUrl}}">Sign in</a>
</form>
<div *ngIf="user" class="nav navbar-nav navbar-right" id="logged-in-nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ user?.battletag }} <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="usersystem">
        <li [class.active]="router.isActive('/tracker', false)" routerLink="tracker"><a (click)="prevent($event)" href="/tracker">Download Tracker</a></li>
        <li [class.active]="router.isActive('/subscribe', false)" routerLink="subscribe"><a (click)="prevent($event)" href="/subscribe">My Subscription</a></li>
        <li class="divider"></li>
        <li><a id="signout" (click)="logout()">Log out</a></li>
      </ul>
    </li>
</div>