<div *ngIf="router.isActive('/tracker', false)" class="jumbotron overview view banner lijiang-tower" style="padding-bottom: 10px;">
    <div class="container">                      
        <h1>Tracker</h1>
    </div>
</div>

<div class="container overview view">
    <p *ngIf="!router.isActive('/tracker', false)">
        It looks like you don't have any games yet... Here's how to get started with OverTrack:
    </p>


    <h1>Getting Started</h1>
    <a href="https://overtrack-client.s3.amazonaws.com/overtrack.exe" class="btn btn-success" target="_blank">Download Client</a>
    <br>
    <p>Once the download has completed, run overtrack.exe</p>

    <p>
        Depending on your system security you may be warned by Windows SmartScreen, or other such similar security system, that overtrack.exe has
        been <a href="assets/images/tracker/windows_screen.png" target="_blank">prevented from running</a> - in the case of Windows SmartScreen, click on <i>More info</i>,
        then, <i>Run anyway</i> to proceed. This only needs to be done once.
    </p>

    <p>
        OverTrack runs directly from this launcher, so make sure the executable is stored somewhere where it won't be deleted (e.g. on your desktop or in your documents folder).<br/>
        By default OverTrack will not launch on startup - if you would like OverTrack to start automatically, right click on the icon in the notifications tray and check "Start OverTrack when Windows starts"
    </p>
    <img class="tut-image" src="assets/images/tracker/menu.png" alt="Menu" />

    <p>
        Upon first launch of the client you will be asked to authenticate/pair the client to your account using the OverTrack site. This should 
        automatically open a page in your browser where you can click the <i>Authenticate Client</i> button:
    </p>
    <img class="tut-image" src="assets/images/tracker/authenticate.png" style="cursor: text;">
    <p>If you are not logged in you will instead be presented with the welcome page - simply use the sign-in button and you will be redirected to the authenticate page.</p>

    <h2>Using OverTrack</h2>

    <p>
        OverTrack has a taskbar icon showing the current state and will present toasts (only visible if Overwatch is not fullscreen):
    </p>
    <img class="tut-image" src="assets/images/tracker/taskbar.png" alt="Tray icon"><br>
    <img class="tut-image" src="assets/images/tracker/toasts.png" alt="sample toasts of the client in action"><br>

    <p>
        To ensure SR is tracked correctly you must visit the <i>Play Menu</i> (where the <i>Quick Play</i>, <i>Arcade</i>,
        <i>Competitive Play</i>, and, <i>Play vs. AI</i> buttons are seen) BEFORE and AFTER each game, as prompted by the toasts.
    </p>

    <p>
        For best results for tracking scores, let the tracker see all score screens - this means not tabbing out or leaving the game at the round/game end score screens.
    </p>
            
    <p>
        To close the client, right click the tray icon and select <i>Quit</i>
    </p>

    <h2>Is This Allowed?</h2>
    <p>
        Blizzard has confirmed that they don't consider OverTrack a cheat and are fine with it.<br/>
        OverTrack behaves just like any other screen recording software e.g. OBS, Shadowplay. It does not interact with Overwatch and does not inject, modify or read Overwatch's memory, code or data files.
    </p>

    <h2>Troubleshooting</h2>
        If you seen an error "Failed to execute script wrapper" when launching you may need to <a href="https://www.microsoft.com/en-us/download/details.aspx?id=48145">download and install vc_redist.x64.exe from Microsoft</a>

    <h2>Notes:</h2>
    <p>
        Fullscreen tracking is not available in Windows 7.
    </p>
    <!-- I feel like this short paragraph either goes first or in the notes section; having trouble finding a spot for it in the wall of text that follows that would be natural to introduce it in -->

    <p>
        In order to help with bugs and development the client will upload logs and occasionally full screenshots of Overwatch. For normal operation it will only upload small
        sections of the screen, but, when the client encounters oddities, these testing builds can upload more. This means that, for now, images of your whispers may be uploaded
        and the uploaded logs may contain your username.
    </p>

</div>
