<nav class="navbar navbar-inverse navbar-fixed-top"  style="font-family: 'Roboto', sans-serif;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="games" style="padding-right: 0">
                <img src="favicon.png"> OverTrack<span style="
                    display:inline-block;
                    color:#F16639;
                    transform: rotate(-25deg) translate(0, -7px);
                    border:1px #F16639 solid;
                    font-size:9px;
                    width:62px;
                    margin-left:6px;
                    background-color:rgba(150, 100, 100, 1);">
                    CLOSED BETA
                </span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" routerLinkActive="active">

                <!-- TODO: make this nice -->
                <li *ngIf="shareKey"><a class="nav-link"><b>{{ shareKey }}</b></a></li>

                <li class="nav-item" [class.active]="router.isActive('/games', false)" routerLink="games{{ shareKeyFragment }}">
                    <a class="nav-link" (click)="prevent($event)" href="/games">Games</a>
                </li>
                <li class="nav-item" [class.active]="router.isActive('/graph', false)" routerLink="graph{{ shareKeyFragment }}">
                    <a class="nav-link" (click)="prevent($event)" href="/graph">SR Graph</a>
                </li>
                <li class="nav-item" [class.active]="router.isActive('/statistics', false)" routerLink="statistics{{ shareKeyFragment }}">
                    <a class="nav-link" (click)="prevent($event)" href="/statistics">Statistics</a>
                </li>
                <li class="nav-item" [class.active]="router.isActive('/winrates', false)" routerLink="winrates{{ shareKeyFragment }}">
                    <a class="nav-link" (click)="prevent($event)" href="/winrates">Win Rates</a>
                </li>

                <ng-container *ngIf="!shareKey">
                    <li class="divider-vertical"></li><!-- how to make this not look s**t? -->
                    
                    <li class="nav-item" [class.active]="router.isActive('/tracker', false)" routerLink="tracker">
                        <a class="nav-link" (click)="prevent($event)" href="/tracker">Download Tracker</a>
                    </li>
                </ng-container>
            </ul>
            <user-login></user-login>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>