<nav class="navbar navbar-inverse navbar-fixed-top"  style="font-family: 'Roboto', sans-serif;">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SuperScience's OW App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <user-login></user-login>
        </div>
    </div>
</nav>

<!--
    Overview
-->
<div class="jumbotron overview view banner eichenwalde">
    <div class="container">                      
        <div class="pull-right col-xs-5 hidden-xs">
            <div class="row text-center" >
                <div class="col-xs-2"></div>
                <div id="curr-sr" class="col-xs-4">Current</div>
                <div class="col-xs-2">Min</div>
                <div class="col-xs-2">Max</div>
                <div class="col-xs-2">Avg</div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <img class="col-xs-4" src="assets/images/icons/diamond.png">
                <img class="col-xs-2" src="assets/images/icons/bronze.png">
                <img class="col-xs-2" src="assets/images/icons/grandmaster.png">
                <img class="col-xs-2" src="assets/images/icons/gold.png">

            </div>

        </div>
        <h1>Overview</h1>
        <p>Current SR: <span class="num">1242</span></p>
         <div class="visible-xs">
        <div class="row">
            <img class="col-xs-3" src="assets/images/icons/diamond.png">
            <img class="col-xs-3" src="assets/images/icons/bronze.png">
            <img class="col-xs-3" src="assets/images/icons/grandmaster.png">
            <img class="col-xs-3" src="assets/images/icons/gold.png">
        </div>
        <div class="row text-center" >
            <b class="col-xs-3">Current</b>
            <b class="col-xs-3">Min</b>
            <b class="col-xs-3">Max</b>
            <b class="col-xs-3">Avg</b>
        </div>
    </div>
    </div>
</div>

<router-outlet></router-outlet>