<div *ngIf="game" class="jumbotron game view map {{mapClass()}}">
    <div class="container">
        <h1>Game #252</h1>
        <p>{{game.map}}</p>
    </div>
</div>

<div *ngIf="game" class="container game view">
    <div class="row">
        <div class="col-md-6">
            <h2>Statistics</h2>
            <div id="game-timeline" class="col-md-12">
                <div *ngFor="let player of game.blueTeam" class="col-md-12">
                    <b class="text-info col-md-3 push-left">{{player}}</b>
                    <div *ngFor="let hero of game.heroesPlayed[player]" class="push-left hero-timeline" 
                         [style.width]="playedPercentage(hero, game.heroesPlayed[player]) + '%'">
                        <img src="assets/images/heroes/{{hero.name}}.png"/>
                    </div>
                </div>
                <div *ngFor="let player of game.redTeam" class="col-md-12">
                    <b class="text-danger col-md-3 push-left">{{player}}</b>
                    <div *ngFor="let hero of game.heroesPlayed[player]" class="push-left hero-timeline" 
                         [style.width]="playedPercentage(hero, game.heroesPlayed[player]) + '%'">
                        <img src="assets/images/heroes/{{hero.name}}.png"/>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <h2>Kill Feed</h2>
            <div id="killfeed">
                <table class="table table-striped text-center">
                    <tr *ngFor="let kill of game.killfeed">
                        <td class="num">{{time(kill)}}</td>
                        <td><img src="assets/images/heroes/{{kill.leftHero}}.png"/></td>
                        <td class="{{leftColor(kill)}} text-left"><b>{{kill.leftPlayer}}</b></td>
                        <td>☠</td>
                        <td><img src="assets/images/heroes/{{kill.rightHero}}.png"/></td>
                        <td class="{{rightColor(kill)}} text-left"><b>{{kill.rightPlayer}}</b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>