<div *ngIf="game" class="jumbotron game view map {{mapClass()}}">
    <div class="container">
        <h1>Game #252</h1>
        <p>{{game.map}}</p>
    </div>
</div>

<div *ngIf="game" class="container game view">
    <div class="row">
        <h2>Teams</h2>
        <div id="game-timeline" class="col-md-12">
            <b class="col-md-2 push-left text-right">Player</b>
            <b class="col-md-9 push-left text-left">Timeline</b>
            <b class="col-md-1 push-left text-left">K / D</b>
        </div>
        <div id="game-timeline" class="col-md-12">
            <div *ngFor="let player of game.blueTeam" class="col-md-12">
                <b class="text-info col-md-2 push-left text-right">{{player.name}}</b>
                <div *ngFor="let hero of player.heroesPlayed" class="push-left hero-timeline"
                        [style.width]="playedPercentage(hero, player.heroesPlayed) + '%'">
                    <img src="assets/images/heroes/{{hero.name}}.png"/>
                </div>
                <b class="col-md-1 push-left text-center num">{{player.kills}} / {{player.deaths}}</b>
            </div>
            <div *ngFor="let player of game.redTeam" class="col-md-12">
                <b class="text-danger col-md-2 push-left text-right">{{player.name}}</b>
                <div *ngFor="let hero of player.heroesPlayed" class="push-left hero-timeline"
                        [style.width]="playedPercentage(hero, player.heroesPlayed) + '%'">
                    <img src="assets/images/heroes/{{hero.name}}.png"/>
                </div>
                <b class="col-md-1 push-left text-center num">{{player.kills}} / {{player.deaths}}</b>
            </div>
        </div>
    </div>
    <br/><br/><br/> <!-- kill me -->
    <div class="row">
        <div class="col-md-6">
            <!-- some other stats -->
        </div>
        <div class="col-md-6">
            <h2>Kill Feed</h2>
            <div id="killfeed">
                <table class="table table-striped text-center">
                    <tr *ngFor="let kill of game.killfeed">
                        <td class="num">{{time(kill)}}</td>
                        <td><img src="assets/images/heroes/{{kill.leftHero}}.png"/></td>
                        <td class="{{leftColor(kill)}} text-left"><b>{{kill.leftPlayer}}</b></td>
                        <td>&#x2620;</td> <!-- Skull And Crossbones -->
                        <td><img src="assets/images/heroes/{{kill.rightHero}}.png"/></td>
                        <td class="{{rightColor(kill)}} text-left"><b>{{kill.rightPlayer}}</b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>