<div class="jumbotron overview view banner watchpoint-gibraltar" style="padding-bottom: 10px;">
    <div class="container">                      
        <h1>FAQ / Troubleshooting</h1>
    </div>
</div>

<div class="container">
    
    For general troubleshooting or if your question is not answered here please join the <a href="https://discord.gg/JywstAB">OverTrack Discord</a>.

    <h3 id="failed-to-execute">How do I solve 'Failed to execute script wrapper' when launching OverTrack?</h3>
    <p>
        Download and install  <a href="https://www.microsoft.com/en-us/download/details.aspx?id=48145">vc_redist.x64.exe</a> from Microsoft.<br/>
        If the problem persists join the <a href="https://discord.gg/JywstAB">OverTrack Discord</a> and ask for help there.
    </p>

    <h3 id="install">Where does OverTrack install to?</h3>
    <p>
        OverTrack runs directly from the .exe file you downloaded. To launch manually simply run the .exe and to uninstall you can just delete it.
    </p>

    <h3 id="install">OverTrack is not picking up Overwatch</h3>
    <p>
        OverTrack can have difficulty picking up Overwatch for the following reasons:
    </p>
    <ul>
        <li>Overwatch is being run as admin, but OverTrack is not</li>
        <li>Overwatch is being run in fullscreen mode on Windows 7</li>
        <li>Overwatch is being run at an in-game aspect ration other than 16:9</li>
    </ul>

    <h3 id="suggestions">I have a suggestion/feature request for OverTrack. How should I make it known?</h3>
    <p>
        Please use the <a href="https://www.reddit.com/r/OverTrack/comments/6uml66/overtrack_feature_requests_megathread/">Feature Requests</a> thread on reddit to vote on and make suggestions.
    </p>

    <h3 id="missing-sr">OverTrack is missing my SR for games</h3>
    <p>
        In order to track SR, make sure you are visting the play menu before and after each game so OverTrack can capture the SR. 
        If OverTrack missed the SR for a game you can manually provide it using the 'Edit' button on games.
    </p>

    <h3 id="bad-name">I have a game showing up under the wrong account/in another tab in the games list</h3>
    <p>
        Sometimes OverTrack can have trouble working out the name of a player that a game belongs to. 
        This can happen if you were alt-tabbed out when the game started. To fix games with the wrong player name you can use the 'Edit' button to change the account name a game is associated with.
    </p>

    <h3 id="unknown-name">My games/some of my games show up under an account beginning with @</h3>
    <p>
        OverTrack is unable to read special characters in player names - if your account has special characters your games will show up under '@battletag'.
        If your account does not have special characters this could be caused by OverTrack having difficulty detecting the correct player name. Use the 'Edit' button to correct these games, and report the issue through discord if this happens frequently.
    </p>

    <h3 id="other-unknown-names">Why are some players @UNKNONWN_BLUE#0 or @UNKNONWN_RED#1?</h3>
    <p>
        @UNKNOWN names appear for players who use special characters as part of their battletags.
    </p>
 
    <h3 id="api">I would like to have programatic access to the data from my games recorded by OverTrack</h3>
    <p>
        Feel free to use the same API used by this website. For help or advice please get in touch through the <a href="https://discord.gg/JywstAB">OverTrack Discord</a>.
    </p>  

</div>
