<div class="jumbotron overview view banner watchpoint-gibraltar" style="padding-bottom: 10px;">
    <div class="container">                      
        <h1>FAQ / Troubleshooting</h1>
    </div>
</div>

<div class="container">
    
    For general troubleshooting or if your question is not answered here please join the <a href="https://discord.gg/JywstAB">OverTrack Discord</a>.

    <br/><br/>
    <h3 id="failed-to-execute">How do I solve 'Failed to execute script wrapper' when launching OverTrack?</h3>
    <p>
        Download and install  <a href="https://www.microsoft.com/en-us/download/details.aspx?id=48145">vc_redist.x64.exe</a> from Microsoft.<br/>
        If the problem persists join the <a href="https://discord.gg/JywstAB">OverTrack Discord</a> and ask for help there.
    </p>

    <br/>
    <h3 id="install">Where does OverTrack install to?</h3>
    <p>
        OverTrack runs directly from the .exe file you downloaded. To launch manually simply run the .exe or the desktop shortcut OverTrack creates when it first runs.<br/>
        To uninstall OverTrack just uncheck 'Start OverTrack when Windows starts'.
    </p>

    <br/>
    <h3 id="install">OverTrack is not picking up Overwatch</h3>
    <p>
        OverTrack can have difficulty picking up Overwatch for the following reasons:
    </p>
    <ul>
        <li>Overwatch is being run as admin, but OverTrack is not</li>
        <li>Overwatch is being run in fullscreen mode on Windows 7</li>
        <li>You are using a laptop with switchable graphics and running Overwatch on the dedicated GPU</li>
        <li>Overwatch is not set to English</li>
        <li>The killfeed is disabled</li>
    </ul>

    <br/>
    <h3 id="how">How does OverTrack work?</h3>
    <p>
        OverTrack applies Computer Vision and Machine Learning techniques to analyse and extract information from what is displayed onscreen. 
        This allows OverTrack to track information such as match SR, map, killfeed and tab-screen statistics not directly provided by Blizzard. 
    </p>

    <br/>
    <h3 id="is-that-legal">Is OverTrack a cheat?</h3>
    <p>
        Blizzard has confirmed that they don't consider OverTrack a cheat and are fine with it.<br/>
        OverTrack behaves just like any other screen recording software e.g. OBS, Shadowplay. It does not interact with Overwatch and does not inject, modify or read Overwatch's memory, code or data files.
    </p>

    <br/>
    <h3 id="suggestions">I have a suggestion/feature request for OverTrack. How should I make it known?</h3>
    <p>
        Please use the <a href="https://www.reddit.com/r/OverTrack/comments/6uml66/overtrack_feature_requests_megathread/">Feature Requests</a> thread on reddit to vote on and make suggestions.
    </p>

    <br/>
    <h3 id="missing-sr">OverTrack is missing my SR for games</h3>
    <p>
        In order to track SR, make sure you are visting the play menu before and after each game so OverTrack can capture the SR. 
        If OverTrack missed the SR for a game you can manually provide it using the 'Edit' button on games.
    </p>

    <br/>
    <h3 id="bad-name">I have a game showing up under the wrong account/in another tab in the games list</h3>
    <p>
        Sometimes OverTrack can have trouble working out the name of a player that a game belongs to. 
        This can happen if you were alt-tabbed out when the game started. To fix games with the wrong player name you can use the 'Edit' button to change the account name a game is associated with.
    </p>

    <br/>
    <h3 id="unknown-name">My games/some of my games show up under an account beginning with @</h3>
    <p>
        OverTrack is unable to read special characters in player names - if your account has special characters your games will show up under '@battletag'.
        If your account does not have special characters this could be caused by OverTrack having difficulty detecting the correct player name. Use the 'Edit' button to correct these games, and report the issue through discord if this happens frequently.
    </p>

    <br/>
    <h3 id="other-unknown-names">Why are some players @UNKNONWN_BLUE#0 or @UNKNONWN_RED#1?</h3>
    <p>
        @UNKNOWN names appear for players who use special characters as part of their battletags.
    </p>
 
    <br/>
    <h3 id="api">I would like to have programmatic access to the data from my games recorded by OverTrack</h3>
    <p>
        Feel free to use the same API used by this website. For help or advice please get in touch through the <a href="https://discord.gg/JywstAB">OverTrack Discord</a>.
    </p> 

    <br/>
<h3 id="cost">Why does OverTrack cost?</h3>
    <p>
        OverTrack is something that I have spent many months of fulltime development on, and something that I want to continue to build and support.<br/>
        Subscribing to OverTrack supports the development and server costs and is what allows OverTrack to function and to keep growing and improving.
    </p> 

</div>
