
<!--
    Overview
-->
<div class="jumbotron overview view banner eichenwalde">
    <div class="container">                      
        <div class="pull-right col-xs-5 hidden-xs">
            <div class="row text-center" >
                <div class="col-xs-2"></div>
                <div id="curr-sr" class="col-xs-4">Current</div>
                <div class="col-xs-2">Min</div>
                <div class="col-xs-2">Max</div>
                <div class="col-xs-2">Avg</div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <img class="col-xs-4" src="assets/images/icons/{{rank(currentSR())}}.png">
                <img class="col-xs-2" src="assets/images/icons/{{rank(minSR())}}.png">
                <img class="col-xs-2" src="assets/images/icons/{{rank(maxSR())}}.png">
                <img class="col-xs-2" src="assets/images/icons/{{rank(avgSR())}}.png">

            </div>

        </div>
        <h1>Overview</h1>
        <p>Current SR: <span class="num">{{ currentSR() ? currentSR() : '?' }}</span></p>
         <div class="visible-xs">
        <div class="row">
            <img class="col-xs-3" src="assets/images/icons/{{rank(currentSR())}}.png">
            <img class="col-xs-3" src="assets/images/icons/{{rank(minSR())}}.png">
            <img class="col-xs-3" src="assets/images/icons/{{rank(maxSR())}}.png">
            <img class="col-xs-3" src="assets/images/icons/{{rank(avgSR())}}.png">
        </div>
        <div class="row text-center" >
            <b class="col-xs-3">Current</b>
            <b class="col-xs-3">Min</b>
            <b class="col-xs-3">Max</b>
            <b class="col-xs-3">Avg</b>
        </div>
    </div>
    </div>
</div>


<div class="container overview view">
    <div class="row col-md-12">
        <h2  class="col-xs-12">Games</h2>
        <div id="gametable" class="col-xs-12">
            <table class="table table-striped text-center">
                <tr>
                    <th>Player</th>
                    <th colspan="2">Win/Loss/Tie</th>
                    <th>Score</th>
                    <th>Skill Rating</th>
                    <th>Time</th>
                    <th>Map</th>
                    <th>Heroes</th>
                </tr>
                <tr *ngFor="let game of gamesList" (click)="route(game.key)" class="hoverable">
                    <td class="gn">{{game.player}}</td>
                    <td class="{{wltClass(game)}} text-right num">
                        <b><!-- TODO: — -->{{game.srChange}}</b>
                    </td>
                    <td class="{{wltClass(game)}} text-left" style="font-size:35px;">{{game.result}}</td>
                    <td><span class="num">{{game.blueScore}}</span><span class="unit">{{unit(game)}}</span>/<span class="num">{{game.redScore}}</span><span class="unit">{{unit(game)}}</span></td>
                    <td class="num sr"><img src="assets/images/icons/{{rank(game.sr)}}.png"/><br/>{{game.srString}}</td>
                    <td class="time"><div class="num">{{min(game)}}</div><div class="unit">min</div></td>
                    <td class="map {{map(game)}}"><i>{{game.map}}</i></td>
                    <td class="hero">
                        <img *ngFor="let hero of game.heroes" src="assets/images/heroes/{{hero.name}}.png"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>