
<div class="container overview view">
    <div *ngIf="loggedIn" style="padding: 50px;">
        <p> Please click the button below to grant the OverTrack client permission to upload to your account. </p>
        <form id="authenticate-client">
            <a id="authenticate-client-button" class="btn btn-success {{ token && callback ? '' : 'disabled' }}" href="{{ callback }}?token={{ token }}">Authenticate Client</a>
        </form>
    </div>
    <div *ngIf="!loggedIn" style="padding: 50px;">
        <p>First log in to authenticate the client</p>
        <form>
            <a id="login" class="btn btn-success" href="{{loginUrl}}">Sign in</a>
        </form>
    </div>
</div>
