body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.tab-stats-table > tbody > tr > td,
.tab-stats-table > tbody > tr > th,
.tab-stats-table > tfoot > tr > td,
.tab-stats-table > tfoot > tr > th,
.tab-stats-table > thead > tr > td,
.tab-stats-table > thead > tr > th {
    border: none !important;
    line-height: 40px !important;
    font-size: 12pt;
}

.hero-timeline {
    box-shadow: inset 0px 0px 0px 1px white;
    background-color: grey;
}

.hero-timeline-point {
    height: 10px;
    margin-bottom: 12px;
}

.timeline-expand-key {
    right: 19.9%;
    top: 95%;
    z-index: 2;
    position: absolute;
    border: 1px solid darkgray;
    padding: 0px;
    line-height: 0;
    padding-left: 4px;
    padding-top: 2px;
    opacity: 0.8;
    background: grey;
    color: black;
    border-top-left-radius: 2px;
    height: 25px;
}

.timeline-collapse-key {
    right: 21%;
    top: 100%;
    z-index: 2;
    position: absolute;
    border: 1px solid darkgray;
    padding: 0px;
    line-height: 0;
    padding-left: 4px;
    padding-top: 15px;
    opacity: 0.8;
    background: grey;
    color: black;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.timeline-owner-blue{
    background-color: #5bc0de;
}

.timeline-owner-red{
    background-color: #ee5f5b;
}

.timeline-owner-none{
    background-color: #eee;
}

.timeline-event {
    text-anchor: middle;
    dominant-baseline: middle;
}

.timeline-checkpoint {
    position: absolute;
    border-radius: 13px;
    width: 25px;
    height: 25px;
    color: black;
    text-align: center;
    margin-left: -13px;
    font-size: 19px;
}

.timeline-event.death {
    font-size: 24px;
    font-weight: bold;
    fill: black;
    stroke: white;
    fill: #811212;
    stroke: red;
}

.timeline-event.kill {
    font-size: 24px;
    font-weight: bold;
    fill: darkgray;
    stroke: white;
}

.timeline-event.assist {
    font-size: 18px;
    font-weight: bold;
    fill: lightblue;
}

.timeline-event.support-assist {
    font-size: 18px;
    font-weight: bold;
    fill: lightgreen;
}

.timeline-event.destruction {
    font-size: 20px;
    fill: lightslategray;
    stroke: whitesmoke;
}

.text-unknown {
    color: #e305f8;
}

.text-blue {
    color: #5bc0de;
}

.text-red {
    color: #ee5f5b;
}

.game-timeline .hero-image {
    width: 40px;
    height: 40px;
    opacity: 0.9;
}

.game-timeline span.kill {
    color: white;
}
.game-timeline span.death {
    color: red;
}

.timeline {
    height: 40px;
}

.game-timeline b {
    line-height:40px;
}

.game-timeline {
    overflow-x: auto;
    overflow: visible;
}

.game-timeline-content {
    min-width: 650px;
}

.timeline-players .col-md-12:nth-of-type(6){
    padding-bottom: 10px;
}

.push-left {
    float: left;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	/*color: #555;*/
	background-color: #2e3338;
	border-bottom-color: transparent;
}

.nav > li > b {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-fixed-top {
    border: 0;
}

#gametable {
    width: 100%;
}

#gametable th {
    text-align: center;
}

#gametable td {
    height:80px;
    line-height:80px;
    font-size:40px;
    
}

#gametable .gn {
    font-size:20px;
    line-height: 40px;
}

#gametable .sr {
    font-size:25px;
    line-height:40px;
    padding-top:0px;
    padding-bottom:0px;
}

#gametable .sr > img {
    height:55px;
}

#gametable .time {
    padding-top:0px;
    padding-bottom:0px;
}

#gametable .time > .num {
    font-size:40px;
    line-height:40px;
    height:40px;
    margin-top:20px;
}

#gametable .time > .unit{
    line-height:20px;
    height:20px;
}

.num {
    font-family: 'Roboto Mono', monospace;
}

.unit {
    font-size: 20px; 
}

#killfeed td {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 36px;
    height:40px;
}

#killfeed .buffer{
    height: 1000px;
    width:10px;
}

#killfeed {
    height: 500px;
    overflow-y: scroll;
}

#killfeed img {
    height:36px;;
}

.jumbotron h1 {
    color:orange;
    text-shadow: 1px 1px 2px black; 
}

.jumbotron.view {
    color:white;
    text-shadow: 1px 1px 2px black;
}

#curr-sr {
    font-size:20px;
}

/*
 * Maps
 */

.jumbotron.view.map {
    background-size: cover;
    background-position: 0 0, center;
}

#gametable .map {
    text-align: left;
    font-size:29px;
    text-shadow: 1px 1px 10px black;
    color:lightgray;
    padding-right:15px;
    
    background-size: cover;
    background-position: 0 0, center;
}

#gametable .hoverable {
    opacity: 0.8;
}
#gametable .hoverable:hover {
    cursor: pointer;
    opacity: 1;
}

.map.eichenwalde {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/eichenwalde.jpg');
}

.map.watchpoint-gibraltar {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/watchpoint-gibraltar.jpg');
}


.map.numbani {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/numbani.jpg');
}

.map.oasis {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/oasis.jpg');
}


.map.route-66 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/route-66.jpg');
}

.map.nepal {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/nepal.jpg');
}

.map.dorado {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/dorado.jpg');
}
.map.hollywood {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/hollywood.jpg');
}

.map.kings-row {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/kings-row.jpg');
}
.map.lijiang-tower {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/lijiang-tower.jpg');
}
.map.volskaya-industries {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/volskaya-industries.jpg');
}

.map.hanamura {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/hanamura.jpg');
}

.map.ilios {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/ilios.jpg');
}
.map.temple-of-anubis {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/temple-of-anubis.jpg');
}

.banner.nepal {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/nepal-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.eichenwalde {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/eichenwalde-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.lijiang-tower {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/lijiang-tower-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.oasis {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/oasis-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.hanamura {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/hanamura-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.hollywood {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/hollywood-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.ilios {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/ilios-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.kings-row {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/kings-row-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.dorado {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/dorado-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.numbani {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/numbani-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.temple-of-anubis {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/temple-of-anubis-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.watchpoint-gibraltar {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/watchpoint-gibraltar-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.route-66 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/route-66-banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner.volskaya-industries {
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.55) 100%), url('assets/images/maps/volskaya-industries-banner.jpg');
    background-position: center;
    background-size: cover;
}



/*
 * Heroes
 */
#gametable .hero {
    padding-left:20px;
    text-align: left;
}

#gametable .hero > img {
    height: 50px;
}

/*
 * Game meta data
 */

/* Could be added if want the meta data to float above the bottom*/
/*div#meta-game {
    position: fixed;
    bottom: 0px; 
    left: 50%; 
    transform: translateX(-50%); 
    max-height: 80%;
}
div#meta-game div.panel-body {
    overflow-y: scroll;
    max-height: 75vh;
} */


div#meta-game div.panel-heading {
    cursor: pointer;
}

div#meta-game p {
    font-size: 10pt;
    margin: 0px;
}

div#meta-game p span {
    color: #a4cc82;
}

div#meta-game p.indent-1 {
    margin-left: 20px;
}

div#meta-game p.indent-2 {
    margin-left: 40px;
}