<div class="hero-card">
    <div class="playtime-bar"><span class="playtime-bar-filling progress-bar-{{ stat.hero }}" 
        [style.width]="(stat.statistics.time_played / totalTime) * 100 + '%'"></span>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/images/heroes/{{ heroImage() }}.png">
            <div class="left-info">
                <span class="big" style="color: #fff;">{{ stat.hero_name }}</span>
                <br>
                <ng-container *ngIf="!isAllHeroes()">
                {{(stat.statistics.time_played / totalTime) * 100 | number:'1.0-0' }}% PLAYRATE
                </ng-container>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="general-info">
                <span class="big">{{ s2ts(stat.statistics.time_played) }}</span>
                <br>
                PLAYTIME
            </div>
        </div>
        <div class="col-sm-2">
            <div class="general-info">
                <span class="big">{{ stat.statistics.games }}</span>
                <br>
                GAME{{stat.statistics.games > 1 ? 'S' : ''}}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="general-info">
                <span class="big">{{ stat.statistics.wins }}</span>
                <br>
                WIN{{stat.statistics.wins > 1 ? 'S' : ''}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="right-info">
                <span class="big">
                    {{ (stat.statistics.wins / stat.statistics.games) * 100 | number:'1.0-0' }}%
                </span>
                <br>WINRATE
            </div>
        </div>
    </div>
    <div class="row smaller">
        <div class="col-sm-4">
            <span class="big">{{ stat.statistics.eliminations / timePlayed10m | number:'1.1-1' }}</span> /10min
            <br>ELIMINATIONS
        </div>
        <div class="col-sm-4">
            <span class="big">{{ stat.statistics.objective_kills / timePlayed10m | number:'1.1-1' }}</span> /10min
            <br>OBJECTIVE KILLS
        </div>
        <div class="col-sm-4">
            <span class="big">{{ s2ts(stat.statistics.objective_time / timePlayed10m) }}</span> /10min
            <br>OBJECTIVE TIME
        </div>
    </div>
    <div class="row smaller">
        <div class="col-sm-4">
            <span class="big">{{ stat.statistics.hero_damage_done / timePlayed10m | number:'1.0-0' }}</span> /10min
            <br>HERO DAMAGE DONE
        </div>
        <div class="col-sm-4">
            <ng-container *ngIf="stat.statistics.healing_done > 0 && !isAllHeroes()">
            <span class="big">{{ stat.statistics.healing_done / timePlayed10m | number:'1.0-0' }}</span> /10min
            <br>HEALING DONE
            </ng-container>
        </div>
        <div class="col-sm-4">
            <span class="big">{{ stat.statistics.deaths / timePlayed10m | number:'1.1-1' }}</span> /10min
            <br>DEATHS
        </div>
    </div>
    <ng-container *ngIf="stat.statistics.hero_specific_stats">
        <div class="dashed-line">
            <span class="hero-spec-stats-text">Hero Specific Stats</span>
        </div>
        <div *ngFor="let row of [0, 1]" class="row smaller">
            <div class="col-md-4" *ngFor="let key of heroStatNames().slice(row * 3, (row + 1) * 3)">
                <ng-container *ngIf="averageHeroStatPerGames(key)">
                    <span class="big">{{ stat.statistics.hero_specific_stats[key] / stat.statistics.games | number:'1.1-1' }}</span> {{ heroStatUnit(key) }}
                    <br>{{ key | uppercase }}
                </ng-container>
                <ng-container *ngIf="!averageHeroStatPerGames(key)">
                    <span class="big">{{ stat.statistics.hero_specific_stats[key] / timePlayed10m | number:'1.1-1' }}</span> {{ heroStatUnit(key) }}
                    <br>{{ key | uppercase }}
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>