<div class="jumbotron overview view banner hanamura">
    <div class="container">                      
        <h1>Statistics</h1>
    </div>
</div>


<div class="container overview view">
    <!-- <div *ngIf="statistics" class="row col-md-12">
        <div id="gametable" class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <label>{{statistics.season}}</label>

                <label for="selected-account">Account: </label>
                <select id="selected-account" [(ngModel)]="selectedAccount">
                    <option *ngFor="let e of statistics.accounts" [value]="e">{{e}}</option>
                </select>

                <label for="selected-mode">Mode: </label>
                <select id="selected-mode" [(ngModel)]="selectedMode">
                    <option *ngFor="let e of statistics.modes" [value]="e">{{formatMode(e)}}</option>
                </select>

                <label for="endgame-only">Complete statistics only: </label>
                <input type="checkbox" id="endgame-only" [(ngModel)]="endgameOnly" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div *ngFor="let s of statistics.hero_statistics | statsFilter:{selectedAccount: selectedAccount, selectedMode: selectedMode, endgameOnly: endgameOnly}">
                        <hero-statistic [stat]=s></hero-statistic>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row col-md-12">
        <div *ngIf="statistics" id="gametable" class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <label>{{statistics.season}}</label>

                <label for="selected-account">Account: </label>
                <select id="selected-account" [(ngModel)]="selectedAccount">
                    <option *ngFor="let e of statistics.accounts" [value]="e">{{e}}</option>
                </select>

                <label for="selected-mode">Mode: </label>
                <select id="selected-mode" [(ngModel)]="selectedMode">
                    <option *ngFor="let e of statistics.modes" [value]="e">{{formatMode(e)}}</option>
                </select>

                <label for="endgame-only">Complete statistics only: </label>
                <input type="checkbox" id="endgame-only" [(ngModel)]="endgameOnly" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div *ngFor="let s of statistics.hero_statistics | statsFilter:{selectedAccount: selectedAccount, selectedMode: selectedMode, endgameOnly: endgameOnly}">
                                <hero-statistic [stat]="s" [totalTime]="totalTime()"></hero-statistic>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            