<div class="jumbotron overview view banner watchpoint-gibraltar" style="padding-bottom: 10px;">
    <div class="container">                      
        <h1>OverTrack</h1>
    </div>
</div>

<div class="container">
    <h2>Quickstart</h2>
    <p>
        If you are a returning user or just want to dive straight in, simply click on the "Sign In" button in the top right.<br>
        No account registration is required - we use Battle.net.
    </p>
    <br><br>

    <h2>Automated Competitive Match Tracking</h2>
    <p>
        OverTrack keeps records of your competitive matches - Skill Rating, Win/Loss/Draw, Eliminations, Healing, Damage, Objective Time, and more.<br>
        No longer is there a need to manually enter match data into a form or spreadsheet; OverTrack does all this automatically!
    </p>

    <img class="tut-image" src="assets/images/welcome/games.png">
    <p>OverTrack records the map, result, heroes played and SR changes of all your matches.</p>

    <h2>Per Game Tracking</h2>

    <img class="tut-image" src="assets/images/welcome/game.png">

    <p>OverTrack also records details from each game that would otherwise be impossible to remember in the heat of play including:</p>
    <ul>
        <li>Hero swaps</li>
        <li>Your team comp and opponents team comp</li>
        <li>The Kill Feed</li>
        <li>Kill Assists (Eliminations you added damage to but did not get the final blow on)</li>
        <li>Support Assists (Eliminations you aided your team by way of support abilities e.g. Orb of Discord)</li>
        <li>Objective information (checkpoints/point control)</li>
        <li>and more!</li>
        <!-- add to/amend/remove from this list as you see fit -->
    </ul>

    <h2>Statistics and Win Rates</h2>

    <p>OverTrack will records statistics from whenever you press tab. This allows tracking on both a per-game and overall level.</p>
    <h4>Per Game</h4>
    <img class="tut-image" src="assets/images/welcome/game_stats.png">  
    <h4>Overall</h4>
    <img class="tut-image" src="assets/images/welcome/hero_stats.png">
    <h4>Win Rates</h4>
    <img class="tut-image" src="assets/images/welcome/winrates.png">

</div>
