<div class="jumbotron overview view banner watchpoint-gibraltar" style="padding-bottom: 10px;">
    <div class="container">                      
        <h1>OverTrack</h1>
    </div>
</div>

<div class="container">

    <!-- <div class="col-md-12 alert alert-danger" role="alert">
        Blizzard's current stance on third party programs is unclear. Some third party programs with similar functionality to OverTrack have been forbidden.<br>
        You may wish to discontinue use of OverTrack until its legality is resolved. Get more details and keep up to date on this issue in the <a href="https://discord.gg/JywstAB">OverTrack Discord</a>
    </div> -->

    <h2>Quickstart</h2>
    <p>
        If you are a returning user or a new user wishing get started right away you can simply click on the "Sign In" button in the top right.<br>
        No account registration is required - we use Battle.net OAuth.
    </p>
    <p>
        Note that logging in will use the Battle.net account <b>that you are currently logged in to on the <a href="https://battle.net">battle.net</a> website</b>.<br>
        If you are logged in on an alt account there, you will need to visit <a href="https://battle.net">battle.net</a> and log out.
    </p>

    <h2>Automated Competitive Match Tracking</h2>
    <p>
        OverTrack keeps records of your competitive matches - Skill Rating, Win/Loss/Draw, Eliminations, Healing, Damage, Objective Time, and more.<br>
        No longer is there a need to manually enter match data into a form or spreadsheet; OverTrack does all this automatically!
    </p>

    <img class="tut-image" src="assets/images/welcome/games.png">
    <p>
        OverTrack records the map, result, heroes played and SR changes of all your matches.<br>
        All this is done by the OverTrack client passively recording and reading the screen of Overwatch, which, for the purposes of this program Blizzard has confirmed they do not consider a cheat. 
    </p>

    <p>
        You can test out the full functionality of OverTrack freely on a one week trial (starting from your first game tracked).<br>
        Following this trial period we ask for a monthly subscription of $4.99 USD in order to support OverTrack’s continual development.<br>
        If don’t yet feel the need to subscribe you may still use OverTrack to record games, although a subscription is required to view complete match details - e.g. the killfeed and objective timeline.  <br>
    </p>

    <h2>Per Game Tracking</h2>

    <img class="tut-image" src="assets/images/welcome/game.png">

    <p>OverTrack also records details from each game including:</p>
    <ul>
        <li>Hero swaps</li>
        <li>Your team comp and opponents team comp</li>
        <li>The Kill Feed</li>
        <li>Kill Assists (Eliminations you added damage to but did not get the final blow on)</li>
        <li>Support Assists (Eliminations you aided your team by way of support abilities e.g. Orb of Discord)</li>
        <li>Objective information (checkpoints/point control)</li>
        <li>and more!</li>
    </ul>

    <h2>Statistics and Win Rates</h2>
    <h4>Statistics</h4>
    <p>OverTrack will record statistics whenever you press tab. This allows tracking on both a per-game (shown above) and overall level.</p>
    <img class="tut-image" src="assets/images/welcome/hero_stats.png">
    <h4>Win Rates</h4>
    <img class="tut-image" src="assets/images/welcome/winrates.png">

</div>
